<div class="page-header">
    <div class="header-titles">
        <h1>Dossiers du Personnel</h1>
        <div class="unsc-subtitle">// BASE DE DONNÉES DE L'ÉTAT-MAJOR - CONFIDENTIEL</div>
    </div>

    <div class="header-actions">
        @if (droit.peutEcrire)
        {
            <button matButton="filled" (click)="OuvrirModalAjouterPersonne()">
                <mat-icon>person_add</mat-icon>
                Nouvelle recrue
            </button>

            <button matButton="filled" (click)="OuvrirModalPersonnageParticiper()">
                <mat-icon>military_tech</mat-icon>
                Rapport d'opération
            </button>
        }
    </div>
</div>

<!-- BARRE D'OUTILS TACTIQUE -->
<div class="tactical-toolbar">
    <mat-form-field class="search-input">
        <mat-label>Rechercher par matricule, nom ou discord</mat-label>
        <mat-icon matPrefix>badge</mat-icon>
        <input #inputRecherche matInput type="search" (keyup)="0">
    </mat-form-field>

    @if(droit.peutEcrire)
    {
        <mat-checkbox class="tactical-checkbox" (change)="FiltrerPasValider($event)">
            En attente de validation ({{ nbPasValider() }})
        </mat-checkbox>
    }
</div>

<!-- GRILLE DES CARTES D'IDENTITÉ -->
<div class="dossier-grid">

    @for (element of Rechercher(inputRecherche.value); track element.id) 
    {
        <!-- CHÂSSIS DU DOSSIER -->
        <div class="dossier-card" [class.is-navy]="element.estNavy" [class.is-marines]="!element.estNavy">
            
            <!-- EN-TÊTE OFFICIEL UNSC & COMMANDES TACTIQUES -->
            <div class="dossier-header">
                <div class="header-titles">
                    <div class="id-title">UNITED NATIONS SPACE COMMAND</div>
                    <div class="id-subtitle">IDENTIFICATION AND PRIVILEGE CARD</div>
                </div>

                <div class="header-right-panel">
                    <!-- Barre d'outils d'action rapatriée en haut -->
                    <div class="dossier-actions">
                        @if (droitFichier.peutEcrire) 
                        {
                            <jp-input-file-btn matIconButton class="btn-icon" matTooltip="Photo" icon="photo_camera" (fileChange)="UploadFichier(element.id, $any($event))" accept=".png, .jpg, .webp, .jpeg" />
                        }
                        
                        <button mat-icon-button class="btn-icon text-info" matTooltip="État de service" (click)="OuvrirModalInformation(element)">
                            <mat-icon>info</mat-icon>
                        </button>

                        @if (droit.peutEcrire) 
                        {
                            <button mat-icon-button class="btn-icon text-edit" matTooltip="Modifier" (click)="OuvrirModalAjouterPersonne(element)">
                                <mat-icon>edit_document</mat-icon>
                            </button>

                            <button mat-icon-button class="btn-icon text-kia" matTooltip="Déclarer KIA" (click)="OuvrirModalDeclarerMort(element)">
                                <mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor"><path d="M240-80v-170q-39-17-68.5-45.5t-50-64.5q-20.5-36-31-77T80-520q0-158 112-259t288-101q176 0 288 101t112 259q0 42-10.5 83t-31 77q-20.5 36-50 64.5T720-250v170H240Zm80-80h40v-80h80v80h80v-80h80v80h40v-142q38-9 67.5-30t50-50q20.5-29 31.5-64t11-74q0-125-88.5-202.5T480-800q-143 0-231.5 77.5T160-520q0 39 11 74t31.5 64q20.5 29 50.5 50t67 30v142Zm100-200h120l-60-120-60 120Zm-80-80q33 0 56.5-23.5T420-520q0-33-23.5-56.5T340-600q-33 0-56.5 23.5T260-520q0 33 23.5 56.5T340-440Zm280 0q33 0 56.5-23.5T700-520q0-33-23.5-56.5T620-600q-33 0-56.5 23.5T540-520q0 33 23.5 56.5T620-440ZM480-160Z"/></svg></mat-icon>
                            </button>
                        }

                        @if (droit.peutSupprimer) 
                        {
                            <button mat-icon-button class="btn-icon text-danger" matTooltip="Purge" (click)="OuvrirModalSupprimer(element)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        }
                    </div>

                    <div class="branch-logo">
                        <img [src]="element.estNavy ? 'logoDroiteNavy.png' : 'logoDroiteMarines.png'" alt="Logo Branche">
                    </div>
                </div>
            </div>

            <!-- CORPS : Photo et Télémétrie -->
            <div class="dossier-body">
                
                <!-- Colonne de gauche (Visuel) -->
                <div class="visual-col">
                    <div class="photo-frame">
                        <img [src]="element.urlPhotoIdentite" alt="Photo de {{ element.nom }}">
                        <div class="scanline"></div>
                    </div>
                    <div class="matricule-text">MATRICULE // {{ element.matricule }}</div>
                </div>

                <!-- Colonne de droite (Données) -->
                <div class="data-col">
                    
                    <!-- Identité -->
                    <div class="character-identity">
                        <span class="rank-text">{{ element.grade?.nom }} ({{ element.grade?.nomRaccourci }})</span>
                        <h2 class="name-text">{{ element.nom }}</h2>
                        <span class="discord-tag">DISCORD: {{ element.nomDiscord }}</span>
                    </div>

                    <!-- Grille d'attributs -->
                    <div class="data-grid">
                        <div class="data-item">
                            <span class="data-label">SPÉCIALITÉ</span>
                            <span class="data-value">{{ element.specialite?.nom ?? "N/A" }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">NÉ LE</span>
                            <span class="data-value">{{ element.dateNaissance }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">ORIGINE</span>
                            <span class="data-value">{{ element.planeteOrigine?.nom ?? "N/A" }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">SANG</span>
                            <span class="data-value text-danger">{{ element.groupeSanguin }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">OPÉRATIONS</span>
                            <span class="data-value">{{ element.nbOperation }}</span>
                        </div>
                        <div class="data-item full-width">
                            <span class="data-label">FORMATIONS</span>
                            <div class="tags-container">
                                @for (formation of element.listeFormation; track formation) 
                                {
                                    <span class="formation-tag">{{ formation }}</span>
                                }
                                @empty 
                                {
                                    <span class="no-formation">NON-QUALIFIÉ</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SECTION MILITAIRE : Affectation & Décorations -->
            <div class="dossier-military">
                
                <div class="assignment-block">
                    <div class="assignment-title">SECTOR 1 COMMAND</div>
                    <div class="assignment-unit">
                        ELEMENT UNSCMC <br>
                        <span class="unit-sub">88th MEU 21st Company</span>
                    </div>
                </div>

                @if (element.listeMedaille && element.listeMedaille.length > 0)
                {
                    <div class="ribbon-rack-container">
                        <div class="ribbon-rack">
                            @for (medaille of element.listeMedaille | slice:0:15; track medaille.id) 
                            {
                                <img class="mini-medal" [src]="medaille.urlImage" [matTooltip]="medaille.nom">
                            }
                            
                            @if (element.listeMedaille.length > 15) 
                            {
                                <div class="ribbon-more" matTooltip="Voir le dossier complet pour le reste">
                                    +{{ element.listeMedaille.length - 15 }}
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

            <mat-divider class="id-divider"></mat-divider>

           <!-- PIED DE FICHE : Textes Légaux  -->
            <div class="dossier-footer">
                <div class="footer-legal">
                    <div class="legal-text">
                        <p>Attempted use by non-authorized individual is a violation of<br>Unified Earth Government Law Chapter 9, Section 31</p>
                        <p class="mt-1">If lost or damaged proceed immediately to authorized personnel for reissuance.</p>
                    </div>

                    <div class="divCodeBar">
                        <div class="barcode-text">
                            <div>EXPIRE DATE <br> <span class="barcode-value">1 JAN 2580</span></div>
                            <div class="mt-1">SERIAL NUMBER <br> <span class="barcode-value">4501-52-46887-68</span></div>
                        </div>
                        <img src="codeBar.webp" class="barcode-img" alt="logo UNSC code barre">
                    </div>
                </div>
            </div>
            
        </div>
    }
</div>