<h2 mat-dialog-title>{{ labelBtn() }} un objet de la boutique</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        <jp-grid-container>
            <jp-grid-element [colXs]="12">
                <jp-input-text label="Titre" formControlName="titre" />
            </jp-grid-element>

            <jp-grid-element [colDefault]="12">
                <jp-textarea label="Description" formControlName="description" showMaxLength />
            </jp-grid-element>

            <jp-grid-element [colDefault]="12">
                
                <div style="display: flex; justify-content: space-between;">
                    <p style="font-size: 1.4em; margin: 0;">Liste prix</p>
                    <jp-button-loader matMiniFab icon="add" (clicked)="AjouterBoutiquePrix()" />
                </div>

                <div formArrayName="listePrix">
                    @for (element of listePrix.controls; track element; let i = $index; let last = $last) 
                    {
                        @let specialite = element.get('listeIdSpecialiteRequise')?.value;

                        <jp-grid-container [formGroupName]="i" [gap]="15" style="margin-top: 15px;">
                            <jp-grid-element [colDefault]="12">
                                <jp-input-text label="Nom" formControlName="nom" showMaxLength />
                            </jp-grid-element>
                            
                            <jp-grid-element [colDefault]="6">
                                <jp-input-number label="Prix" formControlName="prix" />
                            </jp-grid-element>

                            <jp-grid-element [colDefault]="6">
                                <jp-input-number label="Ordre" formControlName="ordre" />
                            </jp-grid-element>

                            <jp-grid-element [colDefault]="12">
                                <mat-form-field>
                                    <mat-label>Spécialité(s) requise(s)</mat-label>
                                    <mat-select formControlName="listeIdSpecialiteRequise" multiple>
                                        <mat-select-trigger>
                                            {{ NomSpecialite (specialite?.[0]) }}

                                            @if ((specialite?.length || 0) > 1) 
                                            {
                                                <span class="example-additional-selection">
                                                    (+{{ (specialite?.length || 0) - 1 }} 
                                                    {{ specialite?.length === 2 ? 'autre' : 'autres' }})
                                                </span>
                                            }
                                        </mat-select-trigger>

                                        @for (specialite of listeSpecialite(); track specialite.id)
                                        {
                                            <mat-option [value]="specialite.id">{{ specialite.nom }}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </jp-grid-element>

                            <jp-grid-element [colDefault]="12">
                                <div style="text-align: end;">
                                    <jp-button-loader matMiniFab
                                                                icon="close" 
                                                                matTooltip="Supprimer" 
                                                                (clicked)="SupprimerBoutiquePrix(i)" />
                                </div>
                            </jp-grid-element>

                            @if(!last)
                            {
                                <jp-grid-element [colDefault]="12">
                                    <hr>
                                </jp-grid-element>
                            }
                        </jp-grid-container>
                    }
                </div>
            </jp-grid-element>
        </jp-grid-container>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <jp-button-loader matButton="text" matDialogClose label="Fermer" />&nbsp;
    <jp-button-loader [loading]="btnClick()" (clicked)="ValiderForm()" [label]="labelBtn()" />
</mat-dialog-actions>
