<div class="page-header">
    <div class="header-titles">
        <h1>Habilitations</h1>
        <span class="unsc-subtitle">// PROTOCOLE D'HABILITATION DE SÉCURITÉ - NETCOM SECURE</span>
    </div>

    <div class="header-actions">
    @if(droit.peutEcrire)
    {
        <button mat-flat-button (click)="OuvrirModalAjouterModifierDroitGroupe()">
            <mat-icon>add</mat-icon>
            NOUVEAU GROUPE
        </button>

        <button mat-flat-button (click)="OuvrirModalDroitGroupePersonnage()">
            <mat-icon>edit</mat-icon>
            GESTION ACCÈS
        </button>
    }
    </div>
</div>

<div class="tactical-list-container">
    <mat-list role="list">
        @for (element of listeDroitGroupe(); track element.id; let last = $last) 
        {
            <mat-list-item role="listitem" class="tactical-list-item">
                <div class="item-content">
                    
                    <div class="group-info">
                        <span class="group-name">{{ element.nom }}</span>
                        
                        @if (element.estDefaut)
                         {
                            <span class="unsc-badge badge-secondary" matTooltip="Niveau d'accréditation initial">STANDARD</span>
                        }
                    </div>

                    <div class="item-actions">
                        @if (droit.peutEcrire)
                        {
                            @if (!element.estDefaut) 
                            {
                                <button matMiniFab matTooltip="Définir comme accréditation par défaut" (click)="DefinirCommeDefaut(element)">
                                    <mat-icon>verified_user</mat-icon>
                                </button>
                            }

                            <button matMiniFab (click)="OuvrirModalAjouterModifierDroitGroupe(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        }

                        @if (droit.peutSupprimer) 
                        {
                            <jp-button-loader matMiniFab
                                            [loading]="btnClick()"
                                            icon="delete"
                                            (clicked)="OurvrirModalConfirmationSupprimer(element)" />
                        }
                    </div>
                </div>
            </mat-list-item>
            @if (!last) { <mat-divider></mat-divider> }
        }
    </mat-list>
</div>