<div class="page-header">
    <div class="header-titles">
        <h1>ORGANIGRAMME DES SPÉCIALITÉS (MOS)</h1>
        <div class="unsc-subtitle">// ARBRES DE DÉPLOIEMENT TACTIQUE - HAUT COMMANDEMENT</div>
    </div>

    @if(droit?.peutEcrire)
    {
        <button matButton="filled" (click)="OuvrirModalAjouterModifier('nouveau')">
            <mat-icon>add</mat-icon>
            Nouvelle spécialité
        </button>
    }
</div>

<div class="tactical-filters">
    <div class="filters-grid">
        <mat-form-field class="filter-input">
            <mat-label>RECHERCHE DANS L'ORGANIGRAMME (MOS)</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup.debounce)="ChangerRechercheTexte($event)">
        </mat-form-field>

        <mat-form-field class="filter-select">
            <mat-label>FILTRER PAR BRANCHE</mat-label>
            <mat-icon matPrefix>category</mat-icon>
            <mat-select (selectionChange)="ChangerCategorie($event.value)">
                <mat-option value="">-- TOUTES LES BRANCHES --</mat-option>
                @for(cat of listeCategories(); track cat) 
                {
                    <mat-option [value]="cat">{{ cat | uppercase }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
</div>

<mat-tab-group class="unsc-tabs" dynamicHeight>
    
    <mat-tab>
        <ng-template mat-tab-label>
            CORPS DES MARINES
        </ng-template>
        
        <div class="org-tree-container"
                (mousedown)="OnMouseDown($event)"
                (mouseleave)="OnMouseLeave($event)"
                (mouseup)="OnMouseUp($event)"
                (mousemove)="OnMouseMove($event)">
            @for (racine of arbreMarines(); track racine.id)
            {
                <ng-container *ngTemplateOutlet="noeudSpecialite; context: { $implicit: racine, niveau: 0 }"></ng-container>
            }
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            HOSPITAL CORPS
        </ng-template>
        
        <div class="org-tree-container"
                (mousedown)="OnMouseDown($event)"
                (mouseleave)="OnMouseLeave($event)"
                (mouseup)="OnMouseUp($event)"
                (mousemove)="OnMouseMove($event)">
            @for (racine of arbreNavy(); track racine.id) 
            {
                <ng-container *ngTemplateOutlet="noeudSpecialite; context: { $implicit: racine, niveau: 0 }"></ng-container>
            }
        </div>
    </mat-tab>

</mat-tab-group>

<ng-template #noeudSpecialite let-node let-niveau="niveau">
    
    <div class="org-node-wrapper" [class.is-navy]="node.estNavy" [style.--node-depth]="niveau">
        
        <mat-card class="org-card" appearance="outlined">
            
            @if(niveau <= 1) 
            {
                <div class="org-portrait-container">
                    <img [src]="node.urlImage" [alt]="node.nom" class="org-portrait">
                    <div class="portrait-overlay"></div>

                    @if(droit?.peutEcrire) 
                    {
                        <div class="edit-image-overlay">
                            <jp-input-file-btn matIconButton 
                                                        icon="photo_camera" 
                                                        accept=".png, .jpg, .webp, .jpeg"
                                                        (fileChange)="UploadFichier(node.id, $any($event))" />
                        </div>
                    }
                </div>
            }

            <div class="org-info">
                <div class="org-header">
                    <span class="org-raccourci">[{{ node.raccourci }}]</span> 
                    <span class="org-title">{{ node.nom }}</span>
                </div>
                
                <div class="org-grade">
                    <mat-icon>military_tech</mat-icon> {{ node.grade.nom }} (Op: {{ node.grade.nbOperationRequis }})
                </div>
                <div class="data-divider"></div>
                <div class="org-desc">{{ node.description }}</div>
            </div>

            @if(droit?.peutEcrire || droit?.peutSupprimer) 
            {
                <div class="org-actions">

                    @if(droit.peutEcrire)
                    {
                        <button matIconButton (click)="OuvrirModalAjouterModifier('ajouter', node)" matTooltip="Ajouter une sous-spécialité">
                            <mat-icon>add</mat-icon>
                        </button>

                        <button matIconButton (click)="OuvrirModalAjouterModifier('modifier', node)" matTooltip="Modifier la spécialité">
                            <mat-icon>edit</mat-icon>
                        </button>
                    }

                    @if(droit.peutSupprimer)
                    {
                        <button matIconButton (click)="OuvrirModalConfirmationSupprimer(node)" matTooltip="Supprimer ce profil">
                            <mat-icon>delete</mat-icon>
                        </button>
                    }
                </div>
            }
        </mat-card>

        @if (node.enfants && node.enfants.length > 0) 
        {
            <div class="org-children">
                @for (enfant of node.enfants; track enfant.id) 
                {
                    <div class="org-child-wrapper">
                        <ng-container *ngTemplateOutlet="noeudSpecialite; context: { $implicit: enfant, niveau: niveau + 1 }"></ng-container>
                    </div>
                }
            </div>
        }
    </div>
</ng-template>