<div style="text-align: center; margin-bottom: 20px;">
    <h1>Historique de campagne</h1>

    @if (droit.peutEcrire)
    {
        <button matButton="filled" (click)="OuvriModalAjouterModifierHistoriqueCampagne()">
            <mat-icon>add</mat-icon>
            Ajouter une campagne
        </button>
    }
</div>

@for (element of listeHistoriqueCampagne(); track $index) 
{
    <mat-card>
        <mat-card-title style="text-align: center;">{{ element.titre }}</mat-card-title>
        <mat-card-content>
            <p>{{ element.titre }}</p>

            <jp-grid-container>     
                @for (urlImg of element.listeUrlImage; track $index) 
                {
                    <jp-grid-element [colXs]="12" [colSm]="6" [colLg]="4">
                        <div [class]="droitFichier.peutEcrire ? 'parent' : 'parentPasDroitFichier'">

                            <img [src]="urlImg" alt="photo de campagne">

                            @if(droitFichier.peutEcrire)
                            {
                                <div class="enfant">
                                    <jp-input-file-btn matMiniFab
                                            icon="photo"    
                                            (fileChange)="UploadFichier(element.id, urlImg, $any($event))"            
                                            accept=".png, .jpg, .webp, .jpeg" />

                                    <button matMiniFab (click)="OuvrirModalConfirmerSupprimerImage(element.id, urlImg)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            }
                        </div>

                    </jp-grid-element>
                }
            </jp-grid-container>
        </mat-card-content>
        
        <mat-card-actions align="end">
            @if(droit.peutEcrire)
            {
                <button matButton="filled" (click)="OuvriModalAjouterModifierHistoriqueCampagne(element)">
                    <mat-icon>edit</mat-icon>
                    Modifier
                </button>&nbsp;
            }

            @if(droit.peutSupprimer)
            {
                <button matButton="filled" (click)="OuvrirModalConfirmerSupprimer(element)">
                    <mat-icon>delete</mat-icon>
                    Supprimer
                </button>
            }
        </mat-card-actions>
    </mat-card>
}
