<div class="page-header">
    <div class="header-titles">
        <h1>Historique de campagne</h1>
        <div class="unsc-subtitle">// ARCHIVES DE COMPAGNIE - RAPPORTS POST-OPÉRATIONNELS (AAR)</div>
    </div>

    @if (droit?.peutEcrire)
    {
        <button matButton="filled" (click)="OuvriModalAjouterModifierHistoriqueCampagne()">
            <mat-icon>add</mat-icon>
            AJOUTER UNE CAMPAGNE
        </button>
    }
</div>

@for (element of listeHistoriqueCampagne(); track $index) 
{
    <mat-card class="unsc-campaign-card">
        <mat-card-header>
            <mat-card-title>{{ element.titre }}</mat-card-title>
            <mat-card-subtitle>
                <mat-icon class="date-icon">satellite_alt</mat-icon>
                <span class="date-label">TIMESTAMP //</span>
                <span class="date-value">{{ element.date }}</span> 
            </mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            <p class="campaign-report-text">{{ element.texte }}</p>

            <jp-grid-container>     
                @for (urlImg of element.listeUrlImage; track $index) 
                {
                    <jp-grid-element [colXs]="12" [colSm]="6" [colLg]="4">
                        <div [class]="droitFichier?.peutEcrire ? 'parent' : 'parentPasDroitFichier'">

                            <img [src]="urlImg" alt="Fichier reconnaissance de campagne">

                            @if(droitFichier?.peutEcrire)
                            {
                                <div class="enfant">
                                    <jp-input-file-btn matMiniFab
                                            icon="photo"
                                            (fileChange)="UploadFichier(element.id, urlImg, $any($event))"            
                                            accept=".png, .jpg, .webp, .jpeg" />

                                    <button matMiniFab (click)="OuvrirModalConfirmerSupprimerImage(element.id, urlImg)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            }
                        </div>
                    </jp-grid-element>
                }
            </jp-grid-container>
        </mat-card-content>
        
        <mat-card-actions class="card-actions">
            <span class="spacer"></span>
            @if(droit?.peutEcrire)
            {
                <button mat-flat-button color="primary" (click)="OuvriModalAjouterModifierHistoriqueCampagne(element)">
                    <mat-icon>edit</mat-icon>
                    MODIFIER
                </button>
            }

            @if(droit?.peutSupprimer)
            {
                <button mat-flat-button color="warn" (click)="OuvrirModalConfirmerSupprimer(element)">
                    <mat-icon>delete</mat-icon>
                    SUPPRIMER
                </button>
            }
        </mat-card-actions>
    </mat-card>
}

<mat-paginator class="unsc-paginator"
               (page)="handlePageEvent($event)"
               [pageSize]="5"
               [length]="nbElement()"
               [pageIndex]="pageIndex()"
               showFirstLastButtons
               hidePageSize
               aria-label="Sélectionner page">
</mat-paginator>