.parent-td {
    position: relative;
    
    img {
        display: block;
    } 
}

.enfant {
    display: none;
    position: absolute;
    top: 5px;
}

.parent-td:hover .enfant {
    display: block; 
}