<jp-grid-container [gap]="24" style="margin-top: 20px;">
    @for (element of listeMedaille(); track element.id) 
    {
        <jp-grid-element [colXs]="12" [colSm]="6" [colXl]="4">
            <mat-card class="medal-card" appearance="outlined">
                <!-- Ruban mis en avant -->
                <div class="ribbon-container">
                    <img [src]="element.nomFichier" [alt]="element.nom" class="ribbon-image">
                </div>

                <mat-card-header>
                    <mat-card-title class="medal-title">{{ element.nom }}</mat-card-title>
                    <mat-card-subtitle class="medal-points">
                        VALEUR : {{ element.nbPoint }} CR
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="medal-content">
                    <p>{{ element.description }}</p>
                </mat-card-content>

                @if (droit().peutEcrire || droit().peutSupprimer)
                {
                    <mat-card-actions class="medal-actions">

                        @if(droit().peutEcrire)
                        {
                            <button matIconButton color="primary" (click)="OuvrirModalAttribuerMedaille(element)">
                                <mat-icon>military_tech</mat-icon>
                            </button>

                            <button matIconButton (click)="OnClick(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        }

                        @if (droit().peutSupprimer) 
                        {
                            <button matIconButton (click)="OuvrirSupprimerMedaille(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        }
                    </mat-card-actions>
                }
            </mat-card>
        </jp-grid-element>
    }
</jp-grid-container>