<mat-toolbar id="navbar">

    @if (estConnecter()) 
    {
        <button matIconButton (click)="drawer.toggle()" aria-label="Menu vertical">
        <mat-icon>menu</mat-icon>
        </button>
    }

    <span>Halo RP</span>
    <span class="spacer"></span>

    @if (estConnecter())
    {
        <button matIconButton 
                    aria-label="Menu paramètre" 
                    matTooltip="paramètres">
            <mat-icon>settings</mat-icon>
        </button>

        <button matIconButton 
                    aria-label="Panier d'achat" 
                    matTooltip="Panier d'achat" 
                    (click)="OuvrirModalPanier()">
            <mat-icon>shopping_cart</mat-icon>
        </button>

        <button matIconButton 
                    aria-label="Déconnexion" 
                    matTooltip="Se déconnecter" 
                    (click)="Deconnexion()">
            <mat-icon>logout</mat-icon>
        </button>
    }
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="mdcBackdrop()">

    <mat-drawer #drawer class="drawer" [mode]="drawerMode()" [opened]="estConnecter()">
        <mat-nav-list role="navigation">

            <a mat-list-item routerLink="personnage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Personnage</a>
            <a mat-list-item routerLink="grade" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Grade</a>
            <a mat-list-item routerLink="planete-origine" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Planète d'origine</a>
            <a mat-list-item routerLink="specialite" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Spécialité</a>
            <a mat-list-item routerLink="boutique" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Boutique</a>
            <a mat-list-item routerLink="gestion-boutique" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Gestion boutique</a>
            <a mat-list-item routerLink="droit-groupe" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Gestion droits</a>
            <a mat-list-item routerLink="logistique" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Logistique</a>
            <a mat-list-item routerLink="materiel" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Matériel</a>
            <a mat-list-item routerLink="vaisseau" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Vaisseau</a>
            <a mat-list-item routerLink="proposition-achat" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Proposition d'achat</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content [class.open]="drawer.opened && drawerMode() == 'push'" class="marginTopDrawer">
        <router-outlet />
    </mat-drawer-content>

</mat-drawer-container>