:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 80%;
}

@media screen and (max-width: 425px) 
{
    mat-card {
        width: 100%;
    }
}

@media screen and (min-width: 769px) 
{
    mat-card {
        width: 40%;
    }
}