<!-- ANCRE INVISIBLE POUR LE MENU CLIC DROIT -->
<div style="visibility: hidden; position: fixed;" 
     [style.left]="contextMenuPosition.x" 
     [style.top]="contextMenuPosition.y" 
     [matMenuTriggerFor]="contextMenu">
</div>

<!-- MODULE DU MENU CONTEXTUEL -->
<mat-menu #contextMenu="matMenu" class="unsc-context-menu">
    <div class="menu-header">
        <mat-icon>gps_fixed</mat-icon>
        COORDONNÉES [{{ clicX() }}, {{ clicY() }}]
    </div>

    <!-- CAS 1 : CLIC SUR UNE PLANÈTE (VUE MICRO) -->
    @if(planeteCibleMenu(); as planete) 
    {
        @if(droit.peutEcrire)
        {
            <button mat-menu-item (click)="OuvrirModalAjouterModifierPlanete()">
                <mat-icon color="accent">edit</mat-icon>
                <span>Modifier {{ planete.nom }}</span>
            </button>
        }

        @if (droit.peutSupprimer) 
        {
            <button mat-menu-item class="btn-danger" (click)="OuvrirModalConfirmationSuppression()">
                <mat-icon>delete</mat-icon>
                <span>Détruire l'astre</span>
            </button>
        }
    } 

    <!-- CAS 2 : CLIC SUR UN SYSTÈME (VUE MACRO) -->
    @else if (systemeCibleMenu(); as systeme) 
    {
        @if(droit.peutEcrire)
        {
            <button mat-menu-item (click)="OuvrirModalAjouterModifierSysteme()">
                <mat-icon>edit</mat-icon>
                <span>Modifier {{ systeme.nom }}</span>
            </button>
        }

        @if(droit.peutSupprimer)
        {
            <button mat-menu-item class="btn-danger" (click)="OuvrirModalConfirmationSuppression()">
                <mat-icon>delete</mat-icon>
                <span>Détruire le Système</span>
            </button>
        }
    } 
    <!-- CAS 3 : CLIC DANS LE VIDE SPATIAL (AJOUT) -->
    @else 
    {
        @if(!systemeActif()) 
        {
            <button mat-menu-item (click)="OuvrirModalAjouterModifierSysteme()">
                <mat-icon color="primary">add_circle</mat-icon>
                <span>Fonder un Système</span>
            </button>
        } 
        @else 
        {
            <button mat-menu-item (click)="OuvrirModalAjouterModifierPlanete()">
                <mat-icon color="accent">add_circle</mat-icon>
                <span>Scanner un astre</span>
            </button>
        }
    }
</mat-menu>

<!-- HUD TACTIQUE -->
<div class="map-hud">
    <div class="hud-info">
        @if(systemeActif(); as sys) 
        {
            <h1>SYSTÈME {{ sys.nom | uppercase }}</h1>
            <span class="subtitle">// VUE MICRO : RÉSEAU PLANÉTAIRE LOCAL</span>
        } 
        @else 
        {
            <h1>CARTE GALACTIQUE</h1>
            <span class="subtitle">// VUE MACRO : RÉSEAU DES SYSTÈMES</span>
        }
    </div>
    
    <div class="hud-controls">
        @if(modeEdition()) 
        {
            <div class="edit-warning">
                <mat-icon>warning</mat-icon>
                <span>MODE ÉDITION ACTIF</span>
            </div>
        }

        <!-- VUE MICRO -->
        @if(modeEdition() && systemeActif()) 
        {
            <div class="painting-toolbar">
                <button matMiniFab 
                        [class.outil-actif]="outilActif() === 'main'"
                        (click)="outilActif.set('main')" 
                        matTooltip="Déplacer les Astres">
                    <mat-icon>pan_tool</mat-icon>
                </button>

                <!-- L'OVALE -->
                <button matMiniFab 
                        [class.outil-actif]="outilActif() === 'orbite'"
                        (click)="outilActif.set('orbite')" 
                        matTooltip="Tracer une Orbite Ovale">
                    <mat-icon>all_out</mat-icon>
                </button>

                <!-- LE ROND -->
                <button matMiniFab 
                        [class.outil-actif]="outilActif() === 'orbite-ronde'"
                        (click)="outilActif.set('orbite-ronde')" 
                        matTooltip="Tracer une Orbite Ronde">
                    <mat-icon>radio_button_unchecked</mat-icon>
                </button>

                <!-- DÉPLACER L'ORBITE -->
                <button matMiniFab 
                        [class.outil-actif]="outilActif() === 'orbite-decalage'"
                        (click)="outilActif.set('orbite-decalage')" 
                        matTooltip="Désaxer l'orbite">
                    <mat-icon>open_with</mat-icon>
                </button>

                <!-- GOMME DE PRÉCISION -->
                <button matMiniFab 
                        [class.outil-actif]="outilActif() == 'gomme'"
                        (click)="outilActif.set('gomme')" 
                        matTooltip="Gomme (Cliquer sur la ligne d'une orbite pour la détruire)">
                    <mat-icon>format_color_reset</mat-icon>
                </button>
            </div>
        }

        <!-- VUE MICRO -->
        @if(modeEdition() && !systemeActif()) 
        {
            <div class="painting-toolbar">
                <button matMiniFab 
                            [class.outil-actif]="outilActif() === 'main'"
                            (click)="outilActif.set('main')" 
                            matTooltip="Déplacer la carte">
                    <mat-icon>pan_tool</mat-icon>
                </button>

                <button matMiniFab 
                            [class.outil-actif]="outilActif() === 'pinceau'"
                            (click)="outilActif.set('pinceau')" 
                            matTooltip="Peindre un Secteur">
                    <mat-icon>brush</mat-icon>
                </button>

                <button matMiniFab 
                            [class.outil-actif]="outilActif() === 'gomme'"
                            (click)="outilActif.set('gomme')" 
                            matTooltip="Gomme spatiale">
                    <mat-icon>format_color_reset</mat-icon>
                </button>

                <div class="toolbar-divider"></div>

                <mat-form-field class="faction-select" subscriptSizing="dynamic">
                    <mat-select [ngModel]="secteurActifId()" (ngModelChange)="secteurActifId.set($event)" [disabled]="outilActif() !== 'pinceau'">
                        
                        <mat-select-trigger>
                            @if(ObtenirSecteur(secteurActifId()); as secteurActif) 
                            {
                                <strong class="carre-faction" [style.color]="secteurActif.couleurHexa">█</strong> 
                                <span style="margin-left: 4px;">{{ secteurActif.nom | uppercase }}</span>
                            }
                        </mat-select-trigger>

                        <!-- La liste déroulante -->
                        @for (secteur of listeSecteur(); track secteur.id) 
                        {
                            <mat-option [value]="secteur.id">
                                <strong [style.color]="secteur.couleurHexa">█</strong> 
                                <span style="margin-left: 4px;">{{ secteur.nom | uppercase }}</span>
                            </mat-option>
                        }
                        
                    </mat-select>
                </mat-form-field>

                <button matMiniFab (click)="OuvrirModalAjouterModifierSecteur()" matTooltip="Créer/Gérer un Secteur">
                    <mat-icon>flag</mat-icon>
                </button>

                <button matMiniFab 
                        (click)="ModifierSecteurActif()" 
                        [disabled]="!secteurActifId()" 
                        matTooltip="Modifier ce Secteur">
                    <mat-icon>edit</mat-icon>
                </button>

                <button matMiniFab
                        (click)="verrouFrontiere.set(!verrouFrontiere())" 
                        [matTooltip]="verrouFrontiere() ? 'Verrou Actif (Protège les autres)' : 'Forçage (Écrase tout)'" 
                        [disabled]="outilActif() !== 'pinceau'">
                    <mat-icon>{{ verrouFrontiere() ? 'security' : 'gpp_bad' }}</mat-icon>
                </button>

                <button matButton="filled" class="btn-sync" (click)="SauvegarderSecteurs()">
                    <mat-icon>sync</mat-icon> SAUVEGARDER
                </button>
            </div>
        }

        @if (!systemeActif())
        {
            <mat-form-field class="search-bar" style="width: 350px" subscriptSizing="dynamic">
                <mat-label>Saut hyper-spatial vers...</mat-label>
                <mat-icon matPrefix>explore</mat-icon>
                <input type="text" matInput 
                       [ngModel]="rechercheSysteme()" 
                       (ngModelChange)="rechercheSysteme.set($event)" 
                       [matAutocomplete]="autoNav">
                
                <mat-autocomplete #autoNav="matAutocomplete" 
                                  autoActiveFirstOption 
                                  (optionSelected)="NaviguerVersSysteme($event.option.value)" 
                                  [displayWith]="AfficherNomSysteme">

                    @for (sys of systemesFiltres(); track sys.id) 
                    {
                        <mat-option [value]="sys">
                            {{ sys.nom | uppercase }}
                        </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        }
        @else
        {
            <mat-form-field class="search-bar" style="width: 350px;" subscriptSizing="dynamic">
                <mat-label>Scanner une cible...</mat-label>
                <mat-icon matPrefix>radar</mat-icon>
                <input type="text" matInput 
                       [ngModel]="rechercheAstre()" 
                       (ngModelChange)="rechercheAstre.set($event)"
                       (click)="$event.target.select()" 
                       [matAutocomplete]="autoAstre">
                
                <mat-autocomplete #autoAstre="matAutocomplete" 
                                  autoActiveFirstOption
                                  (optionSelected)="NaviguerVersAstre($event.option.value)" 
                                  [displayWith]="AfficherNomAstre">
                    @for (astre of astresFiltres(); track astre.id) {
                        <mat-option [value]="astre" style="font-family: 'Courier New', Courier, monospace;">
                            {{ astre.nom | uppercase }}
                        </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        }

        <div class="action-fabs">
            @if(systemeActif()) 
            {
                <button matMiniFab (click)="RetourVueGalactique()" matTooltip="Remonter à la Galaxie">
                    <mat-icon>reply</mat-icon>
                </button>
            }

            <button matMiniFab (click)="RecentrerCarte()" matTooltip="Recentrer">
                <mat-icon>my_location</mat-icon>
            </button>
            
            @if(droit?.peutEcrire) 
            {
                <button matMiniFab (click)="ActiverDesactiverModeEdition()" [matTooltip]="modeEdition() ? 'Verrouiller la carte' : 'Mode Édition'">
                    <mat-icon>{{ modeEdition() ? 'lock_open' : 'lock' }}</mat-icon>
                </button>
            }
        </div>
    </div>
</div>

<!-- LE VISEUR (Zone de glissement et de zoom) -->
<div class="galactic-viewport"  #viewport
     [class.grabbing]="isDragging()"
     [class.edit-mode]="modeEdition()"
     (mousedown)="onMouseDown($event)"
     (touchstart)="onMouseDown($event)">
     
    <!-- LE CANEVAS (La carte qui bouge) -->
    <div class="galactic-canvas" 
         [class.edit-mode]="modeEdition()"
         [style.transform]="'translate(' + panX() + 'px, ' + panY() + 'px) scale(' + echelle() + ')'">
        
        <!-- COUCHE 1 : LES ROUTES SPATIALES (Lignes SVG) -->
        <svg class="routes-layer">
            @if(!systemeActif()) 
            {
                @for (route of routesSystemes(); track $index) 
                {
                    <line [attr.x1]="route.x1" [attr.y1]="route.y1" [attr.x2]="route.x2" [attr.y2]="route.y2" class="slipspace-route" />

                    <text [attr.x]="route.midX" [attr.y]="route.midY - 8" class="route-distance" dominant-baseline="middle" text-anchor="middle">
                        {{ route.distance }}
                    </text>
                }
            } 
            @else 
            {
                @for (route of routesPlanetes(); track $index) 
                {
                    <line [attr.x1]="route.x1" [attr.y1]="route.y1" [attr.x2]="route.x2" [attr.y2]="route.y2" class="slipspace-route planet-route" />

                    <text [attr.x]="route.midX" [attr.y]="route.midY - 8" class="route-distance planet-route-distance" dominant-baseline="middle" text-anchor="middle">
                        {{ route.distance }}
                    </text>
                }
            }
        </svg>

        <!-- COUCHE 2 : LA GRILLE TACTIQUE -->
        <div class="tactical-grid" (contextmenu)="onContextMenu($event)">
            @if(!systemeActif()) 
            {
                <!-- AFFICHAGE DES SECTEURS PEINTS -->
                @for (cell of cellulesPeintes(); track cell.cle) 
                {
                    <div class="sector-cell"
                         [style.grid-column]="cell.x"
                         [style.grid-row]="cell.y"
                         [style.background-color]="ObtenirCouleurSecteur(cell.idSecteur)">
                    </div>
                }

                <!-- AFFICHAGE DES SYSTEMES -->
                @for (systeme of listeSysteme(); track systeme.id) 
                {
                    <div class="grid-node system-node"
                            [style.grid-column]="systeme.positionX" 
                            [style.grid-row]="systeme.positionY"
                            cdkDrag
                            [cdkDragDisabled]="!modeEdition() || outilActif() != 'main'"
                            [cdkDragScale]="echelle()"
                            (cdkDragStarted)="onDragStarted($event)"
                            (cdkDragEnded)="DeplacerAstre($event, systeme, 'systeme')"
                            
                            (click)="GererClicSysteme(systeme)"
                            [class.is-targeted]="systemeSelectionneRoute()?.id === systeme.id">

                        <div class="node-core"></div>
                        <div class="node-label">
                            <span>{{ systeme.nom | uppercase }}</span>
                        </div>
                    </div>
                }
            }
            @else
            {
                <!-- AFFICHAGE UNIQUE DE TOUS LES ASTRES (Planètes, Soleils, Halos, Astéroïdes) -->
                @for (planete of listePlanete(); track planete.id) 
                {
                    <div class="grid-node planet-node" 
                         [class.statut-guerre]="planete.statut === eStatusPlanete.EnGuerre"
                         [class.statut-vitrifie]="planete.statut === eStatusPlanete.Vitrifier || planete.statut === eStatusPlanete.VitrifierPartielle"
                         [style.grid-column]="planete.positionX" 
                         [style.grid-row]="planete.positionY"
                         cdkDrag
                         [cdkDragDisabled]="!modeEdition() || outilActif() != 'main'"
                         [cdkDragScale]="echelle()"
                         (cdkDragStarted)="onDragStarted($event)"
                         (cdkDragEnded)="DeplacerAstre($event, planete, 'planete')"
                         (click)="GererClicPlanete(planete)"
                         [class.is-targeted]="planeteSelectionneRoute()?.id == planete.id"
                         [class.show-details]="astreSelectionneDetails()?.id == planete.id">
                        
                        <!-- FORME 1 : HALO -->
                        @if(planete.type === eTypePlanete.Halo) {
                            <div class="node-core halo-core" [style.color]="ObtenirCouleurAppartenance(planete.appartenance)"></div>
                        }
                        <!-- FORME 2 : SOLEIL -->
                        @else if(planete.type === eTypePlanete.Soleil) 
                        {
                            @for(orbite of planete.listeOrbite; track $index) 
                            {
                                <svg class="visual-orbit" 
                                     [style.width.px]="orbite.orbiteX" 
                                     [style.height.px]="orbite.orbiteY || orbite.orbiteX"
                                     [style.transform]="'translate(calc(-50% + ' + (orbite.orbiteDecalageX || 0) + 'px), calc(-50% + ' + (orbite.orbiteDecalageY || 0) + 'px)) rotate(' + (orbite.orbiteAngle || 0) + 'deg)'">
                                    
                                    <ellipse cx="50%" cy="50%" rx="48%" ry="48%" 
                                             fill="none" 
                                             [attr.stroke]="ObtenirCouleurAppartenance(planete.appartenance)" 
                                             stroke-width="2" 
                                             stroke-dasharray="6, 4"
                                             class="orbit-path"
                                             (click)="SupprimerOrbiteCiblee($event, planete, $index)" />
                                </svg>
                            }

                            <div class="node-core sun-core" [style.background-color]="ObtenirCouleurAppartenance(planete.appartenance)"></div>
                        }
                        <!-- FORME 3 : STATION MILITAIRE/CIVILE -->
                        @else if(planete.type === eTypePlanete.StationCivil || planete.type === eTypePlanete.StationMilitaire) {
                            <div class="node-core station-core" [style.background-color]="ObtenirCouleurAppartenance(planete.appartenance)">
                                <mat-icon>{{ planete.type === eTypePlanete.StationMilitaire ? 'security' : 'satellite' }}</mat-icon>
                            </div>
                        }
                        <!-- FORME 4 : ASTÉROÏDES (Cluster de débris) -->
                        @else if(planete.type === eTypePlanete.Asteroide) {
                            <div class="asteroid-cluster">
                                @for(roche of GenererTableauDensite(planete.densite); track $index) {
                                    <div class="rock asteroid-core" [style.background-color]="ObtenirCouleurAppartenance(planete.appartenance)"></div>
                                }
                            </div>
                        }
                        <!-- FORME 5 : LUNE -->
                        @else if(planete.type === eTypePlanete.Lune) 
                        {
                            @for(orbite of planete.listeOrbite; track $index) 
                            {
                                <svg class="visual-orbit" 
                                     [style.width.px]="orbite.orbiteX" 
                                     [style.height.px]="orbite.orbiteY || orbite.orbiteX"
                                     [style.transform]="'translate(calc(-50% + ' + (orbite.orbiteDecalageX || 0) + 'px), calc(-50% + ' + (orbite.orbiteDecalageY || 0) + 'px)) rotate(' + (orbite.orbiteAngle || 0) + 'deg)'">
                                    
                                    <ellipse cx="50%" cy="50%" rx="48%" ry="48%" 
                                             fill="none" 
                                             [attr.stroke]="ObtenirCouleurAppartenance(planete.appartenance)" 
                                             stroke-width="2" 
                                             stroke-dasharray="6, 4"
                                             class="orbit-path"
                                             (click)="SupprimerOrbiteCiblee($event, planete, $index)" />
                                </svg>
                            }

                            <div class="node-core moon-core" [style.background-color]="ObtenirCouleurAppartenance(planete.appartenance)"></div>
                        }
                        <!-- FORME DÉFAUT : PLANÈTE -->
                        @else 
                        {
                            @for(orbite of planete.listeOrbite; track $index) 
                            {
                               <svg class="visual-orbit" 
                                     [style.width.px]="orbite.orbiteX" 
                                     [style.height.px]="orbite.orbiteY || orbite.orbiteX"
                                     [style.transform]="'translate(calc(-50% + ' + (orbite.orbiteDecalageX || 0) + 'px), calc(-50% + ' + (orbite.orbiteDecalageY || 0) + 'px)) rotate(' + (orbite.orbiteAngle || 0) + 'deg)'">
                                    
                                    <ellipse cx="50%" cy="50%" rx="48%" ry="48%" 
                                             fill="none" 
                                             [attr.stroke]="ObtenirCouleurAppartenance(planete.appartenance)" 
                                             stroke-width="2" 
                                             stroke-dasharray="6, 4"
                                             class="orbit-path"
                                             (click)="SupprimerOrbiteCiblee($event, planete, $index)" />
                                </svg>
                            }

                            <div class="node-core planet-core" [style.background-color]="ObtenirCouleurAppartenance(planete.appartenance)"></div>
                        }

                        <div class="node-label">
                            <span>{{ planete.nom | uppercase }}</span>
                        </div>

                        <!-- PANNEAU HOLOGRAPHIQUE DE DÉTAILS -->
                        <div class="node-details" (click)="$event.stopPropagation()">
                            <div class="d-header" [style.border-bottom-color]="ObtenirCouleurAppartenance(planete.appartenance)">
                                <span class="d-nom">{{ planete.nom | uppercase }}</span>
                                <span class="d-statut" [style.color]="ObtenirCouleurAppartenance(planete.appartenance)">
                                    [{{ ObtenirLibelleStatut(planete.statut) | uppercase }}]
                                </span>
                            </div>
                            
                            <div class="d-body">
                                <ul class="d-info-list">
                                    <li><strong>TYPE :</strong> {{ ObtenirLibelleType(planete.type) }}</li>
                                    <li><strong>FACTION :</strong> {{ ObtenirLibelleAppartenance(planete.appartenance) }}</li>
                                    
                                    <!-- Affichage conditionnel de la densité si c'est un astéroïde -->
                                    @if(planete.type === eTypePlanete.Asteroide) 
                                    {
                                        <li><strong>DENSITÉ ROCHEUSE :</strong> Niveau {{ planete.densite || 1 }}</li>
                                    }
                                </ul>
                                
                                <div class="d-desc">
                                    {{ planete.description || 'Aucune donnée topographique disponible dans les archives.' }}
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
