<h2 mat-dialog-title>{{ labelBtn() }} un groupe d'habilitation</h2>

<mat-dialog-content>
    <form [formGroup]="form" class="droit-form">
        
        <!-- SECTION 1 : IDENTIFICATION -->
        <div class="header-section">
            <jp-input-text label="Nom du groupe" formControlName="nom" class="input-nom" />
            <mat-checkbox  formControlName="estDefaut">Affectation par défaut</mat-checkbox>
        </div>

        <mat-divider></mat-divider>

        <!-- SECTION 2 : AUTORISATIONS GLOBALES -->
        <div class="section-title">
            <h3>>> Autorisations Globales</h3>
        </div>
        
        <div class="global-rights-grid">
            <mat-checkbox formControlName="peutModifierBanque">Points de campagne</mat-checkbox>
            <mat-checkbox formControlName="peutAcheterVaisseau">Achat Vaisseau</mat-checkbox>
            <mat-checkbox formControlName="peutAcheterLogistiqueMateriel">Achat Logistique</mat-checkbox>
            <mat-checkbox formControlName="peutProposerLogistiqueMateriel">Proposition Logistique</mat-checkbox>
        </div>

        <mat-divider></mat-divider>

        <!-- SECTION 3 : HABILITATIONS MODULES -->
        <div class="section-title">
            <h3>>> Accès Base de Données</h3>
        </div>

        <div formArrayName="listeDroit" class="module-rights-list">
            @for (element of listeDroit.controls; track element; let i = $index) 
            {
                @let nomRoute = element.get("routeGroupe").value;

                <div [formGroupName]="i" class="right-row">
                    <div class="r-name">
                        {{ ObtenirLabelRoute(nomRoute) }}
                    </div>
                    
                    <div class="r-actions">
                        @if (PeutAfficherLecture(nomRoute)) 
                        {
                            <mat-checkbox formControlName="peutLire">Lecture</mat-checkbox>
                        }
                        
                        <mat-checkbox formControlName="peutEcrire">Écriture</mat-checkbox>
                        
                        @if (PeutAfficherSuppression(nomRoute)) 
                        {
                            <mat-checkbox color="warn" formControlName="peutSupprimer">Suppression</mat-checkbox>
                        }
                    </div>
                </div>
            }
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <jp-button-loader matButton="text" matDialogClose label="Annuler" />
    <jp-button-loader [label]="labelBtn()" [loading]="btnClick()" (clicked)="Valider()" />
</mat-dialog-actions>